*{
    margin:0;
    padding:0;
    box-sizing: border-box;

}
body{
    width:100%;
    min-height:100vh;
    background :linear-gradient(to top,hwb(294 42% 7%),#c033d0);
    padding :10px;
}
.todo-app{
    width:100%;
    max-width:540px;
    background:white;
    margin:150px auto 20px;
    padding:40px 30px 70px;
    border-radius:50px;


}
h2{
    color :#ff3700;
    display:flex;
    align-items:center;
    margin-bottom:30px;
    font-size:30px;
    position:relative;
}
.row{
    display:flex;
    align-items:center;
    background:white;
    border:none;
    outline:3px groove #000;
    outline-offset:5px;
    border-radius:30px; 
    padding-left:10px;
    margin-bottom:20px;


}
.row input{
    flex:1;
    border:none;
    outline:none;
    padding:8px;
    background:transparent;
    font-size:18px;
    letter-spacing:1px;
}
.row input::placeholder{
    color:#1e008d;
    font-weight:20px;
}
.row button{
    border:none;
    outline:none;
    padding:5px 10px;
    background:#ff3700;
    color:white;
    font-size:18px;
    font-weight:600px;
    cursor:pointer;
    border-radius:50px;

}

ul li{
    list-style:none;
    font-size:18px;
    font-weight:bold;
    letter-spacing:1px;
    padding:12px 8px 12px 5px;
    user-select:none;
    cursor:pointer;
    position:relative;
    margin-block:10px;
    padding-left: 50px;
}
ul li::before{
    content: ''; 
    position: absolute;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background: url("img/uncheck.png");
    background-size: cover;
    background-position: center;
    top:12px;
    left: 8px;
   
}
ul li.checked{
    background-color: purple;
    color:white;
    border-radius:50px;
}
ul li.checked::before{
    background: url("img/check.png");
    background-size: cover;

}
ul li span{
    position: absolute;
    top: 10px;
    margin-right: 5px;
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: #000;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
}

ul li.checked span{
    color: #ffffff;
}

ul li.checked span:hover{
    background: #fff;
    color: #000;
}

ul li span:hover{
    background: #000;
    color: #fff;
}





